.navigation {
  background-color: #2c3e50;
  padding: 10px;
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.nav-links {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Ensure space between links */
  width: 100%;
}

.nav-links li {
  margin: 0 15px; /* Add margin for spacing between links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block; /* Ensure links are block-level for better padding control */
}

.nav-links a:hover {
  text-decoration: underline;
  color: aqua;
}

/* For mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #2c3e50;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }

  .nav-links.open {
    display: flex;
    transform: translateY(0);
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

.logo {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
  padding-right: 15px;
}

.logo:hover {
  color: aqua;
  transform: scale(1.2);
}
